body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
}
/*
div {
  background-color: #74c7b8;
}
*/
.top-container {
  background-color: #74c7b8;
  position: relative;
}

.middle-container {
  background-color: #ffcda3;
  height: 200px;
  width: 200px;
  border: 20px solid black;
  margin-left: 260px;
}

.bottom-container {
  background-color: #ee9595;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  margin-left: 500px;
}

#box {
  display: block;
  position: absolute;
  background-color: #FF8;
}

.bottom-cloud {
  position: absolute;
}
